<div class="home-container">
  <div class="hero">
    <h1>Bienvenue sur Campus Ideas</h1>
    <p>Partagez vos idées pour améliorer la vie universitaire.</p>

    <button class="main-btn" routerLink="/suggestions">
      Voir les suggestions
    </button>
  </div>

  <div class="info-section">
    <div class="card">
      <h3>💡 Proposer une idée</h3>
      <p>Soumettez vos suggestions pour améliorer le campus.</p>
    </div>

    <div class="card">
      <h3>📋 Consulter</h3>
      <p>Découvrez les idées proposées par les autres étudiants.</p>
    </div>

    <div class="card">
      <h3>🚀 Améliorer</h3>
      <p>Participez à l’évolution de votre environnement universitaire.</p>
    </div>
  </div>
</div>
